#filterSidebar.ui.sidebar.inverted.segment
    .ui.header Filters

    .ui.sub.header Sources
    #sources.ui.inverted.selection.list
        .item
            i.plus.icon
            .content Player HandBook
        .item
            i.plus.icon
            .content Elemental Evil
        .item
            i.plus.icon
            .content SwordCoast Adventure's Guide

    .ui.sub.header Components
    #components.ui.inverted.selection.list
        .item
            i.plus.icon
            .content Somatic
        .item
            i.plus.icon
            .content Verbal
        .item
            i.plus.icon
            .content Material

    .ui.sub.header Ranges
    #ranges.ui.inverted.selection.list
        .item
            i.plus.icon
            .content Self
        .item
            i.plus.icon
            .content Touch
        .item
            i.plus.icon
            .content Sight
        .item
            i.plus.icon
            .content Unlimited

    #extra.ui.sub.header Extra
    .ui.inverted.selection.list
        .item
            i.plus.icon
            .content Bonus Action

