#filterSidebar.ui.sidebar.inverted.segment
    .ui.header Filters

    .ui.sub.header Sources
    .ui.inverted.selection.list
        .item
            i.plus.icon
            .content Player HandBook
        .item
            i.plus.icon
            .content Elemental Evil
        .item
            i.plus.icon
            .content SwordCoast Adventure's Guide

    .ui.sub.header Components
    .ui.inverted.selection.list
        .item
            i.plus.icon
            .content Somatic
        .item
            i.plus.icon
            .content Verbal
        .item
            i.plus.icon
            .content Material

