header.ui.huge.inverted.blue.menu
    if isBackRoute
        a#backButton.item
            i.arrow.left.icon
    else
        a#sidebarButton.item
            i.sidebar.icon
    .header.item #{title}
    if isHomeRoute
        .right.menu
            if showSearch
                input#searchInput.item(type='text' value=query)
            else
                a#searchButton.item
                    i.search.icon

    if isCharactersRoute
        .right.menu
            a#addCharacterButton.item(href='/characters/add')
                i.add.icon