header.ui.huge.inverted.blue.menu
    if isBackRoute
        a#backButton.item
            i.arrow.left.icon
    else
        a#sidebarButton.item
            i.sidebar.icon
    .header.item #{title}
    if isHomeRoute
        .right.menu
            if showSearch
                .ui.right.aligned.category.search.item
                    .ui.transparant.icon.input
                        input#searchInput(type='text' placeholder='Search' value=query)
                        i.search.link.icon
            else
                a#searchButton.item
                    i.search.icon

    if isCharactersRoute
        .right.menu
            a#addCharacterButton.item(href='/characters/add')
                i.add.icon