#signUpModal.ui.basic.modal
    i.close.icon
    .header Sign Up / Sign In
    .content
        .ui.vertical.buttons
            button#googleButton.ui.huge.google.plus.button
                i.google.plus.icon
                | Google
            .ui.divider
            button#facebookButton.ui.huge.facebook.button
                i.facebook.icon
                | Facebook
            .ui.divider
            button#twitterButton.ui.huge.twitter.button
                i.twitter.icon
                | Twitter