.ui.column.grid
    .row
        .column
            .ui.header #{character.name}

#sheetAccordion.ui.fluid.styled.accordion
    .active.title
        i.dropdown.icon
        | Core
    .active.content
        .ui.six.cards
            .card
                .center.aligned.content
                    .content Strength
                    .header 14
                .floating.ui.red.circular.label +2

            .card
                .center.aligned.content
                    .content Dexterity
                    .header 14
                .floating.ui.red.circular.label +2

            .card
                .center.aligned.content
                    .content Constitution
                    .header 14
                .floating.ui.red.circular.label +2

            .card
                .center.aligned.content
                    .content Intelligence
                    .header 14
                .floating.ui.red.circular.label +2

            .card
                .center.aligned.content
                    .content Wisdom
                    .header 14
                .floating.ui.red.circular.label +2

            .card
                .center.aligned.content
                    .content Charisma
                    .header 14
                .floating.ui.red.circular.label +2

            .ui.two.column.grid
                .eight.wide.column
                    table.ui.fluid.table
                        tr
                            td Strength
                            td 2
                        tr
                            td Dexterity
                            td 1
                        tr
                            td Constitution
                            td 2
                        tr
                            td Intelligence
                            td 1
                        tr
                            td Wisdom
                            td 2
                        tr
                            td Charisma
                            td 1

                .eight.wide.column
                    table.ui.fluid.table
                        tr
                            td Acrobatics
                            td 2
                        tr
                            td Animal Handling
                            td 1
                        tr
                            td Arcana
                            td 2
                        tr
                            td Athletics
                            td 1
                        tr
                            td Deception
                            td 2
                        tr
                            td History
                            td 1
                        tr
                            td Insight
                            td 2
                        tr
                            td Intimidation
                            td 1
                        tr
                            td Investigation
                            td 2
                        tr
                            td Medicine
                            td 1
                        tr
                            td Nature
                            td 2
                        tr
                            td Perception
                            td 1
                        tr
                            td Performance
                            td 2
                        tr
                            td Persuasion
                            td 1
                        tr
                            td Religion
                            td 2
                        tr
                            td Sleight of Hand
                            td 1
                        tr
                            td Stealth
                            td 2
                        tr
                            td Survival
                            td 1

    .title
        i.dropdown.icon
        | Attacks
    .content
        p Attacks