.ui.list
    each character in characters
        .item
            .right.floated.content
                .ui.label= count(character.spells)
            .content
                .header #{character.name}
                .description
                    = formatLevel(character.level)
                    = character.race
                    = character.class