#characters.ui.container
    .ui.divided.very.relaxed.selection.list
        each character in characters
            .item(id=character._id)
                .right.floated.content
                    .ui.label= countSpells(character._id)
                .content
                    .header #{character.name}
                    .description
                        = formatLevel(character.level)
                        = character.race
                        = character.class

+footer