head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Social
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')

template(name='mainLayout')
    +sAlert

    #content

        +sidebar

        .pusher

            +header
            +Template.dynamic(template=content)

    +signUpModal