#about.ui.center.aligned.raised.segment
    img.ui.centered.small.image(src='images/logo.png')
    br
    span Made by Robin Kuiper.
    br
    a(href='http://rgjkuiper.nl' target='_blank')
        i.cloud.icon
        | rgjkuiper.nl
    br
    a(href='mailto:robingjkuiper@gmail.com')
        i.mail.icon
        | robingjkuiper@gmail.com
    .ui.divider
    span Spells in database: #{spellCount}
    br
    span Characters in database: #{characterCount}
    br
    span Avarage characters per user: #{charPerUser}
    .ui.divider
    h3.ui.header Special Thanks
    p Thanks to Jordy Kuiper and Dennis Siemons (Adding spells to DB).

+footer
