.ui.divided.header Add Spell
form.ui.form
    .ui.two.column.grid
        .row
            .column
                .field
                    input(type='text' name='name' placeholder='Name')
            .column
                .field
                    select.ui.dropdown(name='version')
                        option 5
                        option 4
                        option 3.4
                        option 3
                        option 2
                        option 1

        .row
            .column
                .field
                    input(type='text' name='bookName' placeholder='Book name')
            .column
                .field
                    input(type='number' name='bookPage' placeholder='Book page')

        .row
            .column
                .field
                    select.ui.dropdown(name='classes' multiple='')
                        each c in classes
                            option(value=c._id) #{c.name}

            .column
                .field
                    select.ui.dropdown(name='level')
                        each level in levels
                            option(value=level)= formatLevel(level)

        .row
            .column
                .field
                    input(type='number' name='range' placeholder='Range')

            .column
                .field
                    input(type='text' name='duration' placeholder='Duration')

        .row
            .column
                .field
                    input(type='text' name='castingTime' placeholder='Casting time')

        .row
            .column
                .field
                    input(type='text' name='school' placeholder='School')

            .column
                .field
                    input(type='text' name='oath' placeholder='Oath')

        .row
            .sixteen.wide.column
                .field
                    textarea(name='mainDescription' placeholder='Description')

        .row
            .sixteen.wide.column
                .field
                    textarea(name='levelDescription' placeholder='At higher levels')

        .row
            .sixteen.wide.column
                .field
                    input.ui.fluid.green.button(type='submit' value='Add!')